setuptools
altair
argon2-cffi
astor
async-generator
attrs
backcall
base58
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
debugpy
decorator
defusedxml
entrypoints
gitdb
GitPython
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyarrow
pycparser
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
Send2Trash
six
smmap
streamlit
terminado
testpath
toml
toolz
tornado
traitlets
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
